{% extends 'all-photos/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% if images %}
        <h2> {{images|length}} {{message}} </h2>
        {% else %}
        <h2>Didn't find anything with that term. {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if images %}
            {% for image in images%}
            <div class="col-sm-6 col-md-3">
                <a data-caption="{{image.caption}} <br>{{image.description}} <br> {{image.category}} <br> {{image.pub_date}}"  href="{{image.image.url}}"data-fancybox>
                    <h3>{{image.editor}}</h3>    
                    <p> {{image.location}}</p>
                      <img class="img-responsive"  src="{{image.image.url}}" alt="image">
                       {{image.pub_date}}
                  </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}