{%extends 'all-photos/base.html'%}
{% block content %}
{{block.super}}
<div class="container">

    <div class="row">
            {% for photos_item in photos %}
        <div class="col-md-4">
            <h2 class="text-center">{{photos_item.caption}}</h2>
       
            <img src="{{photos_item.image.url}}" class="img-responsive">
        </div>
        {% empty %}
        <div class="row">
          <h2 class="text-center">There No News Items</h2>
        </div>
      {% endfor %}
      </div>
    </div>
   
{% endblock %}